.sidebar {
  transition: $transition-base;
  position: fixed;
  width: $sidebar-width;

  &.hide {
    transform: translateX(-$sidebar-width);
  }
}

@import "./AccordionSelect/styles.scss";
@import "./MenuToggle/styles.scss";
@import "./QrCode/styles.scss";