.menu-toggle {
  margin-left: $sidebar-width;
  height: $menu-toggle-height;
  transition: $transition-base;

  &.expand {
    margin-left: 0px;
  }

  .icon {
    transition: $transition-base;
    &.reverse {
      transform: rotate(180deg);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
