@import "theme.scss";

.content {
  margin-left: $sidebar-width;
  height: calc(100% - #{$menu-toggle-height} - #{$controls-height});
  transition: $transition-base;

  &.expand {
    margin-left: $sidebar-width / 2;
    margin-right: $sidebar-width / 2;
  }
}

@import "../components/Sidebar/styles.scss";
@import "../components/Controls/styles.scss";
@import "../components/Webcam/styles.scss";
