@font-face {
  font-family: roboto;
  src: url("./fonts/roboto.woff2");
}

html,
body,
#root {
  height: 100%;
}

$sidebar-width: 300px;
$menu-toggle-height: 50px;
$controls-height: 50px;

$btn-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$font-family-sans-serif: "roboto";

$primary: #363434;
$link-color: #62929a;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
