@font-face {
  font-family: montserrat;
  src: url("./fonts/montserrat.woff2");
}

html,
body,
#root {
  height: 100%;
}

$font-family-sans-serif: "montserrat";
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
