@font-face {
  font-family: montserrat;
  src: url("./fonts/montserrat.woff2");
}

html,
body,
#root {
  height: 100%;
}

$font-family-sans-serif: "montserrat";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
