<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.socket.io/3.1.1/socket.io.min.js"
      integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <img id="stream" alt="" />

    <script>
      const socket = io("/");
      socket.on("start-stream", (data) => {
        document.getElementById("stream").src = data;
      });
    </script>
  </body>
</html>
