<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.socket.io/3.1.1/socket.io.min.js"
      integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
      crossorigin="anonymous"
    ></script>

    <title>Local Cam</title>

    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div
      class="container h-100 d-flex justify-content-center align-items-center"
    >
      <img id="stream" class="stream-image rounded" alt="stream" />
    </div>

    <script src="static/script.js"></script>
  </body>
</html>
